#first_div{
  display: block;
  float: left;
}
  #protocol_div{
    float: left;
  }

    #protocol_label_div{
      float: left;
      font-size: 15px;
    }
    #protocol_select_div{
      float: left;
      margin-left: 20px;
      width: 70px;
    }
      #protocols_select{
       width:80%;
       max-width: 90%; 
       font-size: 15px;  
      }

    #open_btn_div{
      float: left;
      margin-left: 10px;
    }

      #open_file_button{
        float: left;
        background-color: #0097A7;
        color: white;
        border: none;
        width: 100%;
      }

  #url_div{
    
    display: flex;
    align-items: row;
  }

    #url_label_div {
  float: left;
  font-size: 15px;
  margin-left: 20px;
}

#url_text_div {
  float: left;
  margin-left: 20px;
}

#url_text {
  width: 80px;
  height: 40px;
}

#firstPage_browse_btn_div {
  float: left;
  margin-left: 20px;
}

#firstPage_browse_btn {
  float: left;
  background-color: #0097A7;
  color: white;
  border: none;
  width: 100%;
}

#second_div{
  clear: left;
  display: block;
  float: left;

}

#third_div{
  display: block;
  float: left;
  clear: left;
  
}
#fourth_div{
  display: block;
  float: left;
  clear: left;
}
#fifth_div{
  display: block;
  float: left;
  clear: left;
}
#delimiter{
  
 float: left;  
}
#common_label_div{
 
  font-size: 15px;
}
#delimiter_textbox{
 width:50px; 
 height: 20px; 
}

#quote_char{
 margin-left: 30px;
 float: left; 

}

#quote_char_textbox{
 width:50px; 
 height: 20px; 
}

#esc_char{
 margin-left: 30px;
 float: left;
 
}
#esc_char_textbox{
 width:50px; 
 height: 20px; 
}

#headers{
  float: left;
  margin-left: 30px;

}
#true_false_label{
  float: left;
  font-size: 15px;

}
#truefalse {
  float: left;
}
#columns_select_div{
  float: left;
}

#col_uri {
    display: none;
}

#columns_select{
   float: left;
   width:170px;
   
}

#predicate_div{
 float: left;
 margin-left: 30px;
}

#predicate_textbox{
 width:130px; 
 height: 40px; 
}

#is_subject{
  float: left;
}

#type{
  width: 100px;
   margin-left: 30px;
  float: left;
}

#uri_prefix{
 width:170px;
}

#firstPage_generate_table_query_div{
  float: left;
  margin-left: 153px;
}

#firstPage_table_query_button{
   background-color: #0097A7;
  color: white;
  border: none;
}

#firstPage_generate_insert_query_div{
  float: left;
margin-left: 40px;
  
}

#firstPage_insert_query_button{
   background-color: #0097A7;
  color: white;
  border: none;
}

#load_query_preview_div{
  float: left;
  margin-right: 200px;
}
#load_query_preview_label{
  float: left;
  font-size: 15px;
}
#load_query_preview_text_div{
  float: left;
}
#load_query_preview_text{
  width: 550px;
  overflow: scroll;
  resize: both;
}
#save_query_div{
 float: left;
 margin-left: 230px;
}

#save_query_button{
   background-color: #0097A7;
  color: white;
  border: none;
  
}
#inputFileNameToSaveAs {
  margin-left: 10px;
}
#run_query_div{
  float: left;
  margin-left: 43px;
}

#run_query_button{
   background-color: #0097A7;
  color: white;
  border: none;
}
