#first_div{
  display: block;
  float: left;
}

  #url_div{
    
    display: flex;
    align-items: row;
  }

    #url_label_div {
  float: left;
  font-size: 15px;
  /*margin-left: 30px;*/
}

#url_text_div {
  float: left;
  margin-left: 20px;
}

#url_text {
  width: 80px;
  height: 40px;
}

#firstPage_browse_btn_div {
  float: left;
  margin-left: 20px;
}

#firstPage_browse_btn {
  float: left;
  background-color: #0097A7;
  color: white;
  border: none;
  width: 100%;
}

#second_div{
  clear: left;
  display: block;
  float: left;

}

#third_div{
  display: block;
  float: left;
  clear: left;
  
}
#fourth_div{
  display: block;
  float: left;
  clear: left;
}
#fifth_div{
  display: block;
  float: left;
  clear: left;
  margin-top: 10px;
}
#display{
  margin-left: 30px;
}
#delimiter{
  
 float: left;  
}
#common_label_div{
 
  font-size: 15px;
  margin-left: 30px;
}
#delimiter_textbox{
 width:50px; 
 height: 20px; 
 margin-left: 30px;
}

#headers{
  float: left;
  /*margin-left: 30px;*/

}
#none_header{
  margin-top: 30px;
  margin-left: 30px;
}
#primary_header{
  margin-left: 5px;
}
/*#true_false_label{
  float: left;
  font-size: 15px;

}*/
#header{
  margin-left: 30px;
}
#header2{
  margin-left: 5px;
}
/*#truefalse {
  float: left;
}*/
#columns_select_div{
  float: left;
  /*margin-left: 30px;*/
}

#col_uri {
    display: none;
}

#columns_select{
  float: left;
  width:170px;
  margin-left: 30px;
}

#predicate_div{
 float: left;
 
}

#predicate_textbox{
 width:130px; 
 height: 40px;
 margin-left: 30px; 
}

#is_subject{
  float: left;
}

#type{
  width: 100px;
  float: left;
}
#type_select{
  margin-left: 30px;
}
#uri_prefix{
 width:170px;
}

#firstPage_generate_table_query_div{
  float: left;
  margin-left: 193px;
}

#firstPage_table_query_button{
   background-color: #0097A7;
  color: white;
  border: none;
}

#firstPage_generate_insert_query_div{
  float: left;
margin-left: 60px;
  
}

#firstPage_insert_query_button{
   background-color: #0097A7;
  color: white;
  border: none;
}

#load_query_preview_div{
  /*float: left;*/
  margin-right: 200px;
}
#load_query_preview_label{
  /*float: left;*/
  font-size: 15px;
}
#load_query_preview_text_div{
  /*float: left;*/
}
#load_query_preview_text{
 /* width: 100px;*/
  overflow: scroll;
  resize: both;
}
#save_query_div{
 float: left;
/* margin-left: 270px;*/
}

#save_query_button{
   background-color: #0097A7;
  color: white;
  border: none;
  margin-left: 140px;
  
}
/*
#inputFileNameToSaveAs {
  margin-left: 10px;
}

#run_query_div{
  float: left;
  margin-left: 43px;
}

#run_query_button{
   background-color: #0097A7;
  color: white;
  border: none;
}
*/
